body {
 background-color: black;
 font-family: sans-serif;
}
.menu{
          border: 1px solid;
          font-family: sans-serif;
          border-color:	lime;
          width: 450px;
}
a {
  color:lime;
}
a:hover {
  color:green;
}
p {
  color:lime;
}
strong {
  color:lime;
}


.topbarh{
 height:17px;
 border: 1px solid;
 width:300px;
 font-family: sans-serif;
 border-color:	lime;
}
.contentt{
  height:400px;
  width:300px;
  font-family: sans-serif;
  border-color:	lime;
   border: 1px solid;
}
