html {
  text-align: center;
  font-family: Consolas;
  color: white;
  background-color: #1a1a1a;
}
/** ID's **/

#button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border: 3px #1a1a1a solid;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.4s;
}

#button:hover {
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  color: #1a1a1a;
  padding: 5.3px;
  border: 3px white solid;
  font-weight: bold;
 }

/** Hyperlink Styling - For Buttons - And Other Things ;) **/
a:link{
  color: #ffffff ;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:visited{
  color: white;
 text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
 text-decoration: none;
}


/** Code Styling - For when I metion code**/
code {
  color: white;
  background-color: #0D0D0D;
  padding: 2.5px;
  font-weight: bold;
}
/** DIV Style Code**/

/** Page Wrapper **/
.wrapper {
  width: auto;
  text-align: center;
  margin: 1.2em;
}

.imagewrapper{
border: 2px solid white;
border-radius: 25px;
display: inline-block;
vertical-align: middle;
-webkit-transition: 0.3s;
transition: 0.3s;
}

.buttonwrapper {
  border: 2px solid white;
  height: 60px;
  width: 350px;
  border-radius: 25px;
}

.txtcontainer{
  border: 2px solid white;
  border-radius: 25px;
}
/** Custom Imported Fonts - OTF Format **/
@font-face  {
  font-family: vgasys;
  src: url(../fonts/vgasys.otf);
}
